
@import "./cotton_candy.bundle.css";
@import "./cherry.bundle.css";
@import "./apricot.bundle.css";
@import "./watermelon.bundle.css";

.app-logo{
    min-height: 55px !important;
    width: auto !important;
}

.form-control {
    border: 1px solid #c7c7c7 !important;
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
}